body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.board {
  max-width: 90vw;
  border: 4px solid darkblue;
  border-radius: 10px;
  width: 400px;
  height: 400px;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.timeline {
  padding: 0.6rem 1.2rem;
  text-transform: uppercase;
  color: aliceblue;
  background: black;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 500;
  display: inline-block;
  letter-spacing: 1.6px;
}
.btn {
  margin: 0 auto;
  padding: 1rem 3rem;
  background: chocolate;
  border-radius: 20px;
  color: rgb(8, 8, 8);
  font-size: 16px;
  border: transparent;
  margin-bottom: 2rem;
  letter-spacing: 1.4px;
  font-weight: bolder;
}
.center {
  margin-top: 3rem;

  width: 95% !important;
  height: 85vh;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  background: black;
  border-radius: 20px;
}
.author {
  font-weight: 200;
  text-align: center;
  margin-bottom: 2rem;
}
@media screen and (max-width: 776px) {
  .center {
    width: 95% !important;
    height: 90vh;
    margin: 2rem auto;
    background: black;
    border-radius: 20px;
  }
}
